<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/front.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
        
    </head>
    <body>
        <div class="container">
            <!-- Original box div -->
            <div class="box">
                <div class="front">
                    <div class="overlap-group">
                        <div class="overlap">
                            <div class="circle-logo">
                                <img class="logo" src="images/logo.png" alt="Logo" />
                            </div>
                            <div class="subtract"></div>
                            <div class="text-wrapper">EKRE CHRISTIAN ESA</div>
                            <div class="div">esachris00@gmail.com</div>
                            <div class="text-wrapper-2">againandafresh.org</div>
                            <div class="text-wrapper-3">NEW WINE MEDIA</div>
                            <i class="fas fa-globe icon-globe"></i>
                            <div class="image-container">
                                <img
                                    class="profile-image"
                                    src="images/Social media flyer.jpeg"
                                    alt="Profile"
                                />
                            </div>
                            <i class="fas fa-check-circle icon-media-record"></i>
                        </div>
                        <p class="p">This ID card is the property of The Again and Afresh Church</p>
                    </div>
                </div>
            </div>

            <!-- New image container div for Back.png on the left -->
            <div class="image-container">
                <img src="images/Back.png" alt="Side-by-side Image">
                <!-- Square div positioned on top of the Back.png image -->
                <div class="square-div"></div>
            </div>
        </div>
    </body>
</html>
